@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Dancing+Script:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  width: 100lvw;
  height: 100lvh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}
/* Mobile viewport fix */
@supports (-webkit-touch-callout: none) {
  .app {
    height: -webkit-fill-available;
  }
}
/* Optimizations for iPhone 11 and similar devices */
@media screen and (max-width: 428px) {
  body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }
}
